extends layout

block content
  h1 Listing passes
  table.table
    tr
      th serial number
      th logo text
      th description
      th background color
    each pass in passes
      tr
        td= pass.serialNumber
        td= pass.logoText
        td= pass.description
        td= pass.backgroundColor
  