html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/bootstrap/css/colorpicker.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/bootstrap/js/bootstrap-colorpicker.js')
    script(type='text/javascript')
      $(function(){
        $('#cp1').colorpicker({
          format: 'hex'
        });
      });
  body
    block content