extends layout

block content
  h1 New pass
  form(action='/passes', method='post', enctype="multipart/form-data")
    label Logo Text
    input(type='text', name='pass[logoText]')
    label Description
    input(type='text', name='pass[description]')
    label Background Color
    input#cp1(type='text', name='pass[backgroundColor]')
    label Label
    input(type='text', name='pass[label]')
    label Value
    input(type='text', name='pass[value]')
    label Image
    input(type='file', name='pass[image]' ,accept="image/*")
    br
    button.btn(type='submit') Create Pass