!!! 5
html(lang='ja')
  head
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/bootstrap/css/colorpicker.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/vendor/moment.js')
    script(src='/bootstrap/js/bootstrap-colorpicker.js')
  body(class=action)
    block content
