!!! 5
html(lang='ja')
  head
    meta(charset='utf-8')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    meta(name='viewport', content='initial-scale=1, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    title= title
    link(rel='apple-touch-startup-image', href='/images/demo/kaopass_top.png')
    link(rel='apple-touch-icon', href='/images/demo/kaopass_icon.png')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/bootstrap/css/colorpicker.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/vendor/moment.js')
    script(src='/bootstrap/js/bootstrap-colorpicker.js')
    script(type='text/javascript')
      $(function(){
        $('a img').bind('touchstart', function() {
          var src = $(this).attr('src');
          
          if (src == '/images/demo/btn_photo_normal.png') $(this).attr('src', '/images/demo/btn_photo_touch.png');
          if (src == '/images/demo/btn_download.png') $(this).attr('src', '/images/demo/btn_download_on.png');
        });
      });
  body(class=action)
    block content
