extends layout

block content
  form.demoForm(action='/face', method='post', enctype='multipart/form-data',id='demoForm', hidden)
    input(type='file', name='image', accept='image/*', id='demoImageBtn')
    button(type='submit') Create pass
  a.demoCapture.touchButton(href='#', id='demoCapture')
