body {
  padding: 50px;
  font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

a {
  color: #00B7FF;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

table.table th {
  border-top: 0;
}

table.table td {
  vertical-align: middle;
}

.description {
  background-image: url("../../public/images/kaopass_description.png");
}